<p>お気に入り件数：<%= @favorites.count %></p>
<% @favorites.each do |favorite| %>
  <%= attachment_image_tag favorite.post, :image  %>
  <p> 地名</p>
  <div><%= favorite.post.place %></div>
  <p> 駅名</p>
  <div><%= favorite.post.station %></div>
  <p> 投稿文</p>
  <div><%= favorite.post.writings %></div>
  <p>ユーザーネーム</p>
  <div><%= favorite.post.user.name %></div>
  <div><%= favorite.created_at.strftime('%Y/%m/%d') %></div>
  <div id="favorite_btn_<%= favorite.post.id %>" class="favorite_btn">
    <%= render "favorites/favorite_btn", post: favorite.post %>
  </div>
<% end %>

<%= paginate @favorites %>