<div>
<p>お気に入り件数：<%= @user.favorites.count %></p>
<% @user.favorites.each do |favorite| %>
  <%= favorite.post.image %>
  <p> 地名</p>
  <div><%= favorite.post.place %></div>
  <p> 駅名</p>
  <div><%= favorite.post.station %></div>
  <p> 投稿文</p>
  <div><%= favorite.post.writings %></div>
  <p>ユーザーネーム</p>
  <div><%= favorite.post.user.name %></div>
  <div><%= favorite.created_at.strftime('%Y/%m/%d') %></div>
  <% if favorite.post.favorited_by?(current_user) %>
    お気に入り
    <%= link_to post_favorites_path(favorite.post, favorite.id, :post_id => favorite.post.id), method: :delete do %>
      <div class="fas fa-star star_orange"></div>
    <% end %>
  <% end %>
<% end %>
</div>