<h6>コメント件数：<%= post_comments.count %></h6>
<% post_comments.each do |post_comment| %>
<div class="post_comments">
  <%= post_comment.comment %><br>
  ユーザー：<%= post_comment.user.name %><br>
  <%= post_comment.created_at.strftime('%Y/%m/%d') %>
  <% if post_comment.user == current_user %>
    <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete, remote: true %>
  <% end %>
</div>
<% end %>