<h2>コメント編集</h2>
<div>
  <%= @post_comment.post.image %>
  <p> 地名</p>
  <div><%= @post_comment.post.place %></div>
  <p> 駅名</p>
  <div><%= @post_comment.post.station %></div>
  <p> 投稿文</p>
  <div><%= @post_comment.post.writings %></div>
  <p>ユーザーネーム</p>
  <div><%= @post_comment.post.user.name %></div>
  <%= form_with model: @post_comment, local: true) do |f| %>
    <%= @post_comment.created_at.strftime('%Y/%m/%d') %><%= @post_comment.comment %>
    <p>コメント</p>
    <%= f.text_area :comments, autofocus: true %>
    <%= f.submit "変更を保存" %>
  <% end %>
</div>
<div>
  <%= link_to "削除", post_post_comment_path(@post_comment.post, @post_comment), method: :delete %>
</div>
  
   
  