<!--並べ替え-->
<div class=”admin_posts”>
  <div class="search">
    <%= search_form_for @q, url: admin_posts_path do |f| %>
    <div class="row">
      <div class="col-8"></div>
      <%#= f.label :address_or_writings_or_user_name_cont, "Keyword" %>
      <div class="col-3"><%= f.search_field :address_or_writings_or_user_name_cont, class: 'form-control', placeholder: '検索ワード', required: true %></div>
      <div class="col-1"><%= f.submit '検索', class: 'btn btn-primary' %></div>
    </div>
    <% end %>
  </div>
  <div class="notice"><%= notice %></div>
  <div class="error_messages"><%= alert %></div>
  <h4>投稿一覧</h4>
  <% @posts.each do |post| %>
    <div class="row posts">
      <div class="col-1"></div>
      <div class="col-4"><%= attachment_image_tag post, :image,size:"200x160", fallback:"no_image_square.jpg" %></div>
      <!--asset_path(no_image_square.jpg)-->
      <div class="col-7">
        投稿日時：<%= post.created_at.strftime('%Y/%m/%d') %><br>
        住所 / 地名 / 駅名：<%= post.address %><br>
        投稿文：<%= post.writings.truncate(25) %><br>
        ユーザー：<%= user_name(post.user) %><br>
        コメント件数：<%= post.post_comments.count %><br>
        <%= link_to "詳細",  admin_post_path(post.id) %> / <%= link_to "削除", admin_post_path(post), method: :delete %>
      </div>
    </div>
  <% end %>
  </div>
</div>

<%= paginate @posts %>