<div id="admin_post_comments">
  <div class="search">
    <%= search_form_for @q, url: admin_post_comments_path do |f| %>
    <div class="row">
      <div class="col-8"></div>
      <%#= f.label :address_or_writings_or_user_name_cont, "Keyword" %>
      <div class="col-3"><%= f.search_field :comment_or_user_name_cont, class: 'form-control', placeholder: '検索ワード', required: true %></div>
      <div class="col-1"><%= f.submit '検索', class: 'btn btn-primary' %></div>
    </div>
    <% end %>
  </div>
  <div class="container">
    <h4>コメント一覧</h4>
    <div class="notice"><%= flash[:destroy] %></div>
    <% @post_comments.each do |post_comment| %>
    <table class="row-fluid">
      <td class="col-5">
        <p><%= post_comment.created_at.strftime('%Y/%m/%d') %></p>
        <p>コメント文：<%= post_comment.comment %></p>
        <p>ユーザー：<%= user_name(post_comment.user) %></p>
        <p><%= link_to "削除", admin_post_comment_path(post_comment), method: :delete %></p>
      </td>
      <td class="col-7">
        <table ="row">
          <td class="col-10">
            <p><%= post_comment.post.created_at.strftime('%Y/%m/%d') %></p>
            <p>住所 / 地名 / 駅名：<%= post_comment.post.address %></p>
            <p>投稿文：<%= post_comment.post.writings%></p>
            <p>
              ユーザー：<%= user_name(post_comment.post.user) %>
            </p>
          </td>
          <td class="col-2">
            <p><%= link_to "詳細",  admin_post_path(post_comment.post.id) %></p>
          </td>
        </table>
      </td>
    </table>
    <% end %>
  </div>
</div>