<% @posts.each do |post| %>
<div>
  <%= attachment_image_tag post, :image %>
  <p> 地名</p>
  <div><%= post.address %></div>
  <p> 駅名</p>
  <div><%= post.station %></div>
  <p> 投稿文</p>
  <div><%= post.writings %></div>
  <p>ユーザーネーム</p>
  <div><%= post.user.name %></div>
  <p>コメント件数：<%= post.post_comments.count %></p>
  <p>お気に入り件数：<%= post.favorites.count %></p>
  <%= link_to "詳細",  post_path(post.id) %>
</div>
<% end %>