<div class="posts_ranking">
  <h4>お気に入り登録数</h4>
  <% @posts.each.with_index(1) do |post, i| %>
  <div class="containt">
    <table class=”row”>
      <thead>
        <td class="col-4">   第<%= i %>位</td>
        <td class="col-8">
        <% if user_signed_in? %>
          <div id="favorite_btn_<%= post.id %>" class="favorite_btn, float-left">
            <%= render "favorites/favorite_btn", post: post %>
          </div>
        <% end %>
        </td>
      </thead>
      <tbody>
        <td class="col-4"><%= attachment_image_tag post, :image,size:"200x160", fallback:"no_image_square.jpg" %></td>
        <!--asset_path(no_image_square.jpg)-->
        <td class="col-8">
          投稿日時：<%= post.created_at.strftime('%Y/%m/%d') %><br>
          住所 / 地名 / 駅名：<%= post.address %><br>
          投稿文：<%= post.writings %><br>
          ユーザー：<%= user_name(post.user) %><br>
          <% if post.user == current_user %>
            <%= link_to "詳細",  post_path(post.id) %> / <%= link_to "削除", post_path(post), method: :delete %><br>
          <% else%>
            <%= link_to "詳細",  post_path(post.id) %><br>
         <% end %>
        </td>
      </tbody>
    </table>
  </div>
  <% end %>
</div>