<!--並べ替え-->
<div class="admin_users">
  <div class="search">
    <%= search_form_for @q, url: admin_users_path do |f| %>
    <div class="row">
      <div class="col-8"></div>
      <%#= f.label :address_or_writings_or_user_name_cont, "Keyword" %>
      <div class='col-3 radio_button'>
        <span>会員ステータス</span>
        <%= f.radio_button :is_deleted_eq, 'false' %>有効
        <%= f.radio_button :is_deleted_eq, 'true' %>退会
      </div>
      <div class="col-8"></div>
      <div class="col-3"><%= f.search_field :name_or_email_or_is_deleted_cont, class: 'form-control', placeholder: '検索ワード' %></div>
      <div class="col-1"><%= f.submit '検索', class: 'btn btn-primary' %></div>
    </div>
    <% end %>
  </div>
  <h4>会員一覧</h4>
  <table class="table table-bordered table-sm row-fluid">
    <tr>
      <th class="col-2">会員ID</th>
      <th class="col-2">ユーザー名</th>
      <th class="col-3">メールアドレス</th>
      <th class="col-2">ステータス</th>
    </tr>
    <% @users.each do |user| %>
    <tr>
      <td class="col-2"><%= user.id %></td>
      <td class="col-2">
        <%= link_to admin_user_path(user) do %>
          <%= user.name %>
        <% end %>
      </td>
      <td class="col-3"><%= user.email %></td>
      <% if user.is_deleted == false %>
        <td class="col-2">有効</td>
      <% else %>
        <td class="col-2">退会</td>
      <% end %>
    </tr>
    <% end %>
  </table>
</div>

<%= paginate @users %>