<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <!--<div class="container">-->
      <a class="logo" href="/"><%= image_tag('logo.jpg') %></a>
      <!--asset_path(no_image_square.jpg)-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <div class="navbar-nav ml-auto ">
        <!--<%# if user_signed_in? %> → devise側で用意しているヘルパー-->
        <% if admin_signed_in? %>
          <span class="btn"><%= link_to "会員一覧", admin_users_path %></span>
          <span class="btn"><%= link_to "投稿一覧", admin_posts_path %></span>
          <span class="btn"><%= link_to "コメント一覧", admin_post_comments_path %></span>
          <span class="btn"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></span>
        <% elsif user_signed_in? %>
          <span class="btn"><%= link_to "Home", root_path %></span>
          <span class="btn"><%= link_to "マイページ", user_path(current_user) %></span>
          <span class="btn"><%= link_to "投稿一覧", posts_path %></span>
          <!--method: :deleteでdestroy_user_session_pathへルーティングさせる-->
          <span class="btn"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></span>
        <% else %>
          <span class="btn"><%= link_to "Home", root_path %></span>
          <span class="btn"><%= link_to "投稿一覧", posts_path %></span>
          <span class="btn"><%= link_to "新規登録", new_user_registration_path %></span>
          <span class="btn"><%= link_to "ログイン", new_user_session_path %></span>
        <% end %>
        </div>
      </div>
    <!--</div>-->
  </nav>
  <!--フラッシュメッセージ-->
  <div id="application_flash_message"><p><%= flash[:withdraw] %></p></div>
  <div id="application_flash_message"><p><%= flash[:success] %></p></div>
</header>