<% @search_posts.each do |search_posts| %>
<div>
  <%= attachment_image_tag search_posts, :image %>
  <p> 地名 / 駅名</p>
  <div><%= search_posts.address %></div>
  <!--<p> 駅名</p>-->
  <!--<div><%#= search_posts.station %></div>-->
  <p> 投稿文</p>
  <div><%= search_posts.writings %></div>
  <p>ユーザーネーム</p>
  <div><%= search_posts.user.name %></div>
  <p>コメント件数：<%= search_posts.post_comments.count %></p>
  <p>お気に入り件数：<%= search_posts.favorites.count %></p>
  <%= link_to "詳細",  post_path(search_posts.id) %>
</div>
<% end %>