<% if admin_signed_in? %>
<% else %>
  <div class="search">
    <!--search_form_for → ransackが提供するフォームヘルパー-->
    <%= search_form_for @search do |f| %>
      <%#= f.label :address_or_writings_or_user_name_cont, "Keyword" %>
      <%= f.search_field :prefecture_or_place_or_writings_or_user_name_cont, class: 'form-control', placeholder: '検索ワード', required: true %>
      <!--<div class='prefecture_search'>-->
      <!--  <%#= f.select :prefecture_eq, Post.prefectures_i18n.invert.map{|key, value| [key, Post.prefectures[value]]}, { include_blank: t('都道府県') }, { class: 'form-control' } %>-->
      <!--</div>-->
      <%= f.submit '検索', class: 'btn' %>
    <% end %>
    
  </div>
  
  <div class="row link_btn1">
    <%= link_to new_post_path do %>
    <table class='btn'>
      <td class='col-2'><i class="fas fa-pen"></i></td>
      <td class='col-10'><p>投稿フォーム</p></td>
    </table>
    <% end %>
    
    <%= link_to new_contact_path do %>
    <table class='btn'>
      <td class='col-2'><i class="far fa-bell"></i></td>
      <td class='col-10'><p>お問い合わせ</p></td>
    </table>
    <% end %>
    
    <%= link_to runking_posts_path do %>
    <table class='btn'>
      <td class='col-2'><i class="fas fa-award"></i></td>
      <td class='col-10'><p>ランキング</p></td>
    </table>
    <% end %>
  </div>
 <% end %>
 
<!--<div class="row link_btn2">-->
<!--  <%# if user_signed_in? %>-->
    <!--@userはapplicationコントローラーでcurrent_userに設定している-->
<!--    <%#= link_to user_post_comments_path(@user) do %>-->
<!--    <table class='btn'>-->
<!--      <td class='col-2'><span></span></td>-->
<!--      <td class='col-10'><p>コメント履歴一覧</p></td>-->
<!--    </table>-->
<!--    <%# end %>-->
<!--    <%#= link_to user_favorites_path(@user) do %>-->
<!--    <table class='btn'>-->
<!--      <td class='col-2'><span></span></td>-->
<!--      <td class='col-10'><p>お気に入り履歴一覧</p></td>-->
<!--    </table>-->
<!--    <%# end %>-->
<!--  <%# end %>-->
<!--</div>-->