<!DOCTYPE html>
<html>
  <head>
    <title>Machibura</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper">
      <%= render "layouts/header" %>
      <main>
        <p id="notice"><%= notice %></p>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3 sidebar">
              <%= render "layouts/sidebar" %>
            </div>
            <div class="col-md-9 main_content">
              <%= yield %>
            </div>
          </div>
        </div>
      <%= render "layouts/pagetop" %>
      </main>
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
