<!DOCTYPE html>
<html>
  <head>
    <title>Machibura</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper">
      <%= render "layouts/header" %>
      <main>
        <div class="container-fluid">
          <!--フラッシュメッセージ-->
          <% if notice == "お気に入りに登録しました" %>
          <% elsif notice == "お気に入りを解除しました" %>
          <% else %>
            <div id="application_flash_message"><p><%= notice %></p></div>
            <div id="application_flash_message"><p><%= flash[:success] %></p></div>
          <% end %>
          <div class="row, application_row">
            <div class="col-md-3 sidebar">
              <%= render "layouts/sidebar" %>
            </div>
            <div class="col-md-9 main_content">
              <%= yield %>
            </div>
          </div>
        </div>
      <%= render "layouts/pagetop" %>
      </main>
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
